.container {
    padding-top: 20px;
    display: flex;
    flex: 1;
}

.left-column {
    position: sticky;
    top: 0;
    width: 40%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.right-column {
    width: 60%;
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 1rem;
    box-sizing: border-box;
    background-color: var(--bg-primary);
}
